.container {
  font-family: "Poppins", sans-serif !important;
}

.row {
  display: flex;
}

.toolbar {
  border: 0;
  border-radius: 10px;
  padding: 20px;
  background-color: #dbdbdb;
  display: inline-block;
  margin: 20px 10px 20px 0px;
  height: 69px;
}

.toolbar-text {
  font-size: 1.75rem !important;
  font-weight: 600 !important;
  position: relative;
  top: -7px;
}

.add-button {
  height: 35px;
  float: right;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  display: flex;
  background: #3d3d3e;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

button {
  width: 212px;
}

th {
  background-color: #d9d9d9 !important;
}

td,
th {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.scroll-container {
  height: 500px;
  overflow-y: auto;
}
